.slds-form-element__control {
	border: 1px solid rgb(201, 201, 201);
	border-collapse: separate;
  border-spacing: 0;
	border-radius:0.25rem;
	padding:5px;
	padding:0;
}

.slds-radio [type=radio]:checked+.slds-radio--faux:after, 
.slds-radio [type=radio]:checked+.slds-radio__label .slds-radio--faux:after, 
.slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux:after, 
.slds-radio [type=radio]:checked+.slds-radio_faux:after, 
.slds-radio [type=radio]:checked~.slds-radio--faux:after, 
.slds-radio [type=radio]:checked~.slds-radio_faux:after {
background-color: rgba(49, 201, 157, 1);
}

.slds-radio label, 
.slds-checkbox label {
  font-size: .7125rem;
}

.material .slds-radio_faux, 
.material .slds-checkbox_faux {
	
}

.material .slds-radio, .material .slds-checkbox {
	display: block;
	position: relative;
	border-bottom: 1px solid rgba(201, 201, 201,0.25);
}

.material .slds-radio:hover, .material .slds-checkbox:hover {
	background: rgba(201, 201, 201,0.15);
}

.material label {
	line-height:30px;
	padding-left:10px;
	width: 100%;
	display: block;
	text-align: left;
	color: #5ae270;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
}

.material label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: rgba(49, 201, 157, 1);
	position: absolute;
	right: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.material label:after {
	display:none;
	width: 22px;
	height: 22px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 1px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	left: 5px;
	top:5px;
	cursor: pointer;
	transition: all 200ms ease-in;
}


.material input:checked ~ label .slds-form-element__label {
	color: #fff !important;
}

.material input:checked ~ label:before {
	transform: translate(-50%, -50%) scale3d(120, 56, 1);
	opacity: 1;
}

.material input:checked ~ label:after {
	background-color: #54E0C7;
	border-color: #54E0C7;
}

.material input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}

/* Customize multiselect list */
.multiselect-list li {
    border: 1px solid #dddbda;
}
.multiselect-list li.slds-is-selected a {
    color: white;
    background-color: rgba(49, 201, 157, 1);
    transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translate(0%, 0%) scale3d(1, 1, 1);
}
.multiselect-list li.slds-is-selected a span.check-icon {
    width: 22px;
    height: 22px;
    content: '';
    border: 2px solid #54e0c7;
    background-color: #54e0c7;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 1px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}